<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/addUser}" th:object="${user}" method="post">
    <input type="text" th:field="*{name}" placeholder="Input your Name"/><br/>
    <input type="text" th:field="*{surname}" placeholder="Input your Surname"/><br/>
    <input type="number" th:field="*{age}" placeholder="Input your Age"/><br/>
    <input type="email" th:field="*{email}" placeholder="Input your Email"/><br/>
    <input type="password" th:field="*{password}" placeholder="Input your Password"/><br/>
    <input type="submit" value="Send"/>
</form>
<table border="1">
    <thead>
    <tr>
        <td>Name</td>
        <td>Surname</td>
        <td>Age</td>
        <td>Email</td>
        <td>Action</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>
        <td><a th:href="@{|/deleteUser/${user.id}|}"> Delete </a></td>
    </tr>
    </tbody>
</table>
</body>
</html>